body{
    font-family: "Josefin Sans", sans-serif;
    font-size:large 
}

div.containerPai{
    display: flex;
    width: 100%;
    padding: 20px 150px;
    gap: 100px;
    justify-content: center;
    
}

.coluna{
    width: 50%;
}

/* AJUSTANDO IMG E INFORMAÇÕES SOBRE O LIVRO */
.livros_selecionados{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.361);
    background-color: #fffbfb;
    border-radius: 10px;
    padding: 30px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: left;
    margin-bottom: 30px;
    flex-wrap: wrap
}
.livros_selecionados img{
    width: 70px;
    float: left;
}
.infosLivro{
    display: flex;
    font-size: medium;
    min-width: 100px;
    max-height: 150px;
    overflow: hidden;
}
@media(max-width: 1055px){
    .infosLivro:hover{
        overflow: scroll;
    }
}

.livroImg{
    display: flex;
    float: left;
    padding-right: 20px;
}

div.item{
    display: flex;
    float: left;
    padding: 10px 0;
}

/* AJUSTANDO SUBTOTAL E TOTAL */
.preco{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.361);
    background-color: #fffbfb;
    border-radius: 10px;
    padding: 30px;
    width: max-content;
    display: flex;
    justify-content: left;
    margin-top: 30px;

    display: flex;
    font-size: medium;
    padding-left: 20px;
    max-width: auto;
}

/* AJUSTANDO SUBTOTAL E TOTAL */
.cupom{
    margin-top: 10px;
}
#cupomm{
    border-radius: 5px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    height: 30px;
    width:220px;
    font-size: medium;
}

/* AJUSTANDO PARTE DE PAGAMENTO */
.metodo_pagamento{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.361);
    background-color: #fffbfb;
    border-radius: 10px;
    padding: 30px;
    width: max-content;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 30px;
}

/* AJUSTANDO PARTE DE FINALIZAÇÃO DA CONTA */
.finalizar_compra{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.361);
    background-color: #fffbfb;
    border-radius: 10px;
    padding: 30px;
    width: auto;
    display: flex;
    justify-content: left;
    margin-top: 30px;
}

/* AJUSTANDO BOTÕES */
button.alterar_btn{
    border: none;
    border-radius: 5px;
    height: 40px;
    width: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.242);
    background-color: #99CDD8;
}
button.alterar_btn:hover{
    box-shadow: none;
}

div.acoes{
    margin: 30px;
    justify-content: center;
    align-items: center;
}

button.cancelar_btn{
    border: none;
    border-radius: 5px;
    height: 40px;
    width: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.242);
    background-color: #d41c1c;
    margin-right: 10px;
}
button.cancelar_btn:hover{
    box-shadow: none;
}

button.finalizar_btn{
    border: none;
    border-radius: 5px;
    height: 40px;
    width: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.242);
    background-color: #6dc8ad;
}
button.finalizar_btn:hover{
    box-shadow: none;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Cria duas colunas de largura igual */
    grid-gap: 10px; /* Espaçamento entre os itens */
  }
.alert-End {
    display: none;
    position: fixed;
    height: 600px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(#96B29D, whitesmoke);
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
    flex-flow: column wrap;
    font-family: "Josefin Sans", sans-serif;
  }

  .alert-End h2 {
    color:#000000;
    letter-spacing: 1px;
    margin-top: 10px;
    font-size: 1.5em;
  }

  .alert-End p {
    color:#000000;
    margin: 0px 0;
  }

  .alert-End button.NAO  {
    background-color: #A5DDB8;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  .alert-End button.SIM  {
    background-color: #B80100;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }



  .alert-End button.NAO:hover {
    background-color: #5e8f6e;
  }
  .alert-End button.SIM:hover {
    background-color: #680808;
  }
