a cheia */{}


.star:hover,
.star:hover ~ .star {
    color: #f39c12; /* Cor ao passar o mouse (cheia) */
}

.half:hover, .half:hover ~ .star {
    color: #f39c12; /* Cor da meia estrela ao passar o mouse */
}


.comments {
    display: flex;
    flex-direction: column;
 }
.comment_box {
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Garante três itens por linha */
    gap: 10px;
    width: 60%;
    font-size: 20px;
}
.profile_pic {
    width: 100%; /* Ajustado para se adaptar à grid */
    grid-column: span 1;
    display: flex;
    justify-content: center;
}

.profile_pic img {
    border-radius: 100%;
    width: 50%; /* Ajuste da imagem para se adaptar melhor */
}
.username {
    font-weight: bold;
    font-size: 1.1em;
    color: #333;
    width: 100%;
    grid-column: span 1;
}

.comment_date {
    font-size: 0.9em;
    color: #777;
    grid-column: span 1;
}

.rating {
    color: #FFD700; 
    font-size: 1.2em;
    grid-column: span 1;
    margin-top: 5px;
}

.comment_text {
    grid-column: 1 / span 3; /* Texto completo ocupa três colunas */
}

