body
{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: linear-gradient(#96B29D, whitesmoke, #F3C3B2);
}

main
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.Pai
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fdfdfd;
    width: 30%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(28, 28, 28, 0.2);
    font-family: Josefin Sans;
    text-align: center;
    position: relative;
}

.Pai1
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-direction: column;
    background-color: #fdfdfd;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(28, 28, 28, 0.2);
    font-family: "Josefin Sans", sans-serif;
    position: relative;
    margin: 1vw;
    padding: 1vw;
}

.Pai2
{
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #fdfdfd;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(28, 28, 28, 0.2);
    font-family: Josefin Sans;
    text-align:center;

        & img{
            width: 40px;
            height: auto;
        }
}


button
{
    font-family: Josefin Sans;
    Font-Size:20px;
    margin-top: 5%;
    border-radius: 10px;
    height: 50px;
    width: 243px;
    border: none;
    cursor: pointer;
    background-color: #a3a3a359;
}

h2 a
{
    color:#4d4d4d;
    font-size: 64%;
    letter-spacing: 1px;
    padding-bottom: 120px;
}




input 
{
    margin-top: 5px;
    height: 40px;
    width:100%;
    border-radius: 7px;
    box-shadow: 0 0 3px #afafaf;
    border: none;
}

p#checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

input[name="checkbox"]
{
    margin-top: 0px;
    height: 24px;
    width: 24px;
    border: none;
    box-shadow: 0px 0px 0px rgb(255, 255, 255);

}
.btns {
    max-width: 100%;
    display: flex;
    flex-direction: row;
}

.BTazul /*Tanto Posiciona Quanto Edita o Botão*/
{
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    background-color: #99CDD8;
    margin-right: 10px;
}
.BTazul:hover {
    transform: scale(1.05);
}
.BTverde:hover
{
    transform: scale(1.05);
}
.BTverde
{
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    background-color: #9CDBC8;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
    word-spacing: 3px;
}





/*BEM VINDO*/
h1
{
    margin-bottom: 11%;
    letter-spacing: 2px;
}

.subtitulo1
{
    font-size: 60%;
    margin-bottom: 0%;
}

.botoes
{
    margin-bottom: 20%;
    margin-bottom: 20%;
}

.subtitulo2
{
    font-size:130%;
    margin-bottom: 50px;
    letter-spacing: 2px;
    word-spacing: 3px;
    margin-right: 8%;
}



/*LOGIN*/
ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Icon /*Icone do Google*/
{
    background-image: url('../img/LogoGoogle.png');
    background-repeat: no-repeat;
    background-position:left center;
    background-position:50px;
    text-indent: 40px;
    background-size: 30px 30px;
}

.esqueci /*Posiciona a Pergunta no Local Certo*/
{
    position: absolute;
    top: 53%;
    right: 12%;
    text-wrap: nowrap;
}

.Eye /*Tanto Posiciona Quanto Coloca a Imagem do Olho Dentro da Caixa de Texto*/
{
    position: absolute;
    right: 12%;
    top: 63%;
    padding: 0;
    font-size: 20px;
    border: none;
    cursor: pointer;

    &.B{
        top: 56%;
        right: 24%;
    }
}

/*NOVA CONTA*/
h3
{
   font-size: 2em; /* Ajuste o valor conforme o tamanho do seu h1 */
   font-weight: bold; 
   margin-top: 50px;
   font-weight: normal;
}

/*DADOS PARA ENTREGA*/
.CPF
{
    height: 40px;
    width:160px;
    border-radius: 7px;
    padding-right: 50px;
    box-shadow: 0 0 3px #afafaf;
    border: none;
}

.flex-group
{
    margin-left: 82px;
    display: flex;
    gap: 42px;
    white-space: nowrap;
}

.flex-group2
{
    margin-left: 82px;
    display: flex;
    gap: 8px;
    white-space: nowrap;
}

.check
{
    height: 20px;
    width: 20px; 
}

h4 /*Edita o a mensagem dos termos Para ter essa cor e tamanho*/
{
    font-size: 1.5em; /* Ajuste conforme o tamanho do seu h2 */
    font-weight: bold;
    color:#1D1E1D;
    font-size: 90%;
}

h4  a/*Edita o Hiperlink dos Termos Para ter essa cor e tamanho*/
{
    font-size: 1.5em; /* Ajuste conforme o tamanho do seu h2 */
    font-weight: bold;
    color:#1D1E1D;
    font-size: 90%;
}

.Caixas2 /*Div caixas de texto dessa pagína pq deu um erro */
{
    margin-top: 9%;
    padding-left: 80px;
    position: relative;
    width: 100%;
}
form {
    width: 80%;
}
.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Cria duas colunas de largura igual */
    grid-gap: 10px; /* Espaçamento entre os itens */
  }

  .item {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
  }