/*base*/
body
{
    margin: 0;
    padding: 0;
    background-color:#F5F5F5;
}

main
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Pai
{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 50%;
    height: 96%;
    background-image: linear-gradient(to bottom, #96B29D,#96B29D, #F5F5F5,#F3C3B2, #F3C3B2);
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(28, 28, 28, 0.2);
    font-family: Josefin Sans;
    text-align: center;
}

.Pai1
{
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 102%;
    background-image: linear-gradient(to bottom, #96B29D,#96b29dde, #F5F5F5,#F3C3B2, #F3C3B2);
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(28, 28, 28, 0.2);
    font-family: Josefin Sans;
    text-align:center;

        & img{
            width: 40px;
            height: auto;
        }
}

.Pai2
{
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 110%;
    background-image: linear-gradient(to bottom, #96B29D,#96b29dde, #F5F5F5,#F3C3B2, #F3C3B2);
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(28, 28, 28, 0.2);
    font-family: Josefin Sans;
    text-align:center;

        & img{
            width: 40px;
            height: auto;
        }
}


button
{
    font-family: Josefin Sans;
    Font-Size:20px;
    margin-top: 5%;
    border-radius: 10px;
    height: 50px;
    width: 243px;
    border: none;
    box-shadow: 0 0 3px #7e7c7c;
    cursor: pointer;
}

h2 a
{
    color:#737373;
    font-size: 80%;
    letter-spacing: 1px;
    margin-right: 8%;
}

.Caixas /*Div caixas de texto*/
{
    margin-top: 13%;
    margin-bottom: 5%;
    padding-left: 80px;
    position: relative;
    width: 100%;
}

p /*posiciona as caixas de texto*/
{
    text-align: left;
    margin-top: 5%;
}

input /*Dá forma para caixas de texto*/
{
    margin-top: 5px;
    height: 40px;
    width:450px;
    border-radius: 7px;
    padding-right: 50px;
    box-shadow: 0 0 3px #afafaf;
    border: none;
}

.BTazul /*Tanto Posiciona Quanto Edita o Botão*/
{
    background-color: #99CDD8;
    font-size:130%;
    margin-bottom: 10px;
    word-spacing: 3px;
    margin-right: 8%;
    box-shadow: 0 0 3px #7e7c7c;
    height:40px ;
}

.BTverde
{
    background-color: #A5DDB8;
    font-size:130%;
    margin-bottom: 10px;
    word-spacing: 3px;
    margin-right: 8%;
    box-shadow: 0 0 3px #7e7c7c;
    height:40px;
    
}





/*BEM VINDO*/
h1
{
    margin-bottom: 11%;
    letter-spacing: 2px;
}

.subtitulo1
{
    font-size: 60%;
    margin-bottom: 0%;
}

.botoes
{
    margin-bottom: 10%;
    margin-bottom: 30%;
}

.subtitulo2
{
    font-size:130%;
    margin-bottom: 50px;
    letter-spacing: 2px;
    word-spacing: 3px;
    margin-right: 8%;
}



/*LOGIN*/
ul h1
{
    margin-top: 10%;
    margin-right: 8%;
}

.Icon /*Icone do Google*/
{
    background-image: url('../img/LogoGoogle.png');
    background-repeat: no-repeat;
    background-position:left center;
    background-position:50px;
    text-indent: 40px;
    background-size: 30px 30px;
}

.esqueci /*Posiciona a Pergunta no Local Certo*/
{
    position: absolute;
    top: 70px;
    right: 30%;
    text-wrap: nowrap;
}

.Eye /*Tanto Posiciona Quanto Coloca a Imagem do Olho Dentro da Caixa de Texto*/
{
    position: absolute;
    right: 32%;
    top: 63%;
    transform: translateY(142%);
    padding: 0;
    font-size: 20px;
    border: none;
    cursor: pointer;

    &.B{
        top: 56%;
        right: 24%;
    }
}

/*NOVA CONTA*/
h3
{
   font-size: 2em; /* Ajuste o valor conforme o tamanho do seu h1 */
   font-weight: bold; 
   margin-top: 50px;
   font-weight: normal;
}

/*DADOS PARA ENTREGA*/
.CPF
{
    height: 40px;
    width:160px;
    border-radius: 7px;
    padding-right: 50px;
    box-shadow: 0 0 3px #afafaf;
    border: none;
}

.flex-group
{
    margin-left: 82px;
    display: flex;
    gap: 42px;
    white-space: nowrap;
}

.flex-group2
{
    margin-left: 82px;
    display: flex;
    gap: 8px;
    white-space: nowrap;
}

.check
{
    height: 20px;
    width: 20px; 
}

h4 /*Edita o a mensagem dos termos Para ter essa cor e tamanho*/
{
    font-size: 1.5em; /* Ajuste conforme o tamanho do seu h2 */
    font-weight: bold;
    color:#1D1E1D;
    font-size: 90%;
}

h4  a/*Edita o Hiperlink dos Termos Para ter essa cor e tamanho*/
{
    font-size: 1.5em; /* Ajuste conforme o tamanho do seu h2 */
    font-weight: bold;
    color:#1D1E1D;
    font-size: 90%;
}

.Caixas2 /*Div caixas de texto dessa pagína pq deu um erro */
{
    margin-top: 9%;
    padding-left: 80px;
    position: relative;
    width: 100%;
}
