@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lilita+One&family=Montaga&family=Squada+One&display=swap');
    
/* Filtro de correção para Protanopia (cegueira ao vermelho) */
.correcaopro-protanopia {
    filter: contrast(1.1) saturate(1.5) hue-rotate(-30deg);
}

/* Filtro de correção para Deuteranopia (cegueira ao verde) */
.correcaopro-deuteranopia {
    filter: contrast(1.1) saturate(1.3) hue-rotate(-20deg);
}

/* Filtro de correção para Tritanopia (cegueira ao azul) */
.correcaopro-tritanopia {
    filter: contrast(1.1) saturate(1.8) hue-rotate(90deg);
}

/* Filtro de correção para Monocromacia (escala de cinza total) */
.correcaopro-monocromacia { 
    filter: grayscale(100%);
}

*{  
    box-sizing: border-box;
}

body{
    margin: 0;
    background: #F8F5FA;
    font-family: "Josefin Sans", sans-serif;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: #1D1E1D;
}

i.fa-plus, button{
    cursor: pointer;
}

#loadingscreen{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#96B29D, #F3C3B2);;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: 1s;
}
#loadingscreen h1, #loadingscreen h2{
    color: white;
    font-family: "Josefin Sans";
}
#loadingscreen img{
    width: 250px;
    height: auto;
}

#navbar{
    display: flex;
    position: fixed;
    background-image: linear-gradient(#96B29D, white, #F3C3B2);
    width: 0;
    height: 100dvh;
    right: 0;
    z-index: 10;
    overflow-x: hidden;
    transition: 0.5s;
    justify-content: center;
}

#navbar #nav-content{
    display: flex;
    flex-flow: column wrap;
}

#navbar #nav-content a{
    padding: 8px 16px 8px 16px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
    color: #1D1E1D;
    transition: 0.3s;
    border-bottom: 2px solid #9fa79f;
}
#navbar #nav-content a:hover{
    font-size: 17px;
}

#navbar #nav-content #closebtn{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px;
    border: none;
}
#navbar #nav-content #closebtn:hover{
    color: white;
}

#navbar #nav-rodape{
    position: absolute;
    bottom: 25px;
    display: flex;
    flex-flow: column wrap;
}

#navbar #nav-rodape a{
    padding: 4px 0 4px 0;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    font-family: "Josefin Sans", sans-serif;
    color: #1D1E1D;
    transition: 0.3s;
}
#navbar #nav-rodape a:hover{
    font-size: 16px;
}

#navbar img{
    margin: 8px 8px 20px 8px;
    top: 0;
    width: 165px;
    height: auto;
}

#escuro{
    position: fixed;
    top: 0;
    width: 100%; 
    height: 0;
    background: black;
    opacity: 0.4;
    transition: 0.2s;
    z-index: 9;
}

.escuro{
    position: fixed;
    top: 0;
    width: 100%; 
    height: 0;
    background: black;
    opacity: 0.4;
    transition: 0.2s;
    z-index: 9;
}

/*LOGOUT*/
.alert-box {
    display: none;
    position: fixed;
    height: 300px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(#96B29D, whitesmoke);
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
    text-align: center;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    font-family: "Josefin Sans", sans-serif;
  }

  .alert-box h2 {
    color:#000000;
    letter-spacing: 1px;
    margin-top: 0;
    font-size: 1.5em;
  }

  .alert-box p {
    color:#000000;
    margin: 10px 0;
  }

  .alert-box button.NAO  {
    background-color: #A5DDB8;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  .alert-box button.SIM  {
    background-color: #B80100;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  .alert-box button.NAO:hover {
    background-color: #5e8f6e;
  }
  .alert-box button.SIM:hover {
    background-color: #680808;
  }

#header-gradiente{
    position: absolute;
    background-image: linear-gradient(#96B29D 30%, #F8F5FA);
    height: 544px;
    width: 100%;
    z-index: -1;
}

#header{
    background: #96B29D;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: start;
    flex-flow: row wrap;
    align-items: center;
}

#header img{
    margin: 0 50px 0 10px;
    width: 128px;
    height: auto;
    float: left;
}

#header a{
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    margin: 20px 10px 30px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #1D1E1D;
    transition: 0.3s;
}
#header a.pag{
    color: white;
}

#header #headerCookies{
    display: flex;
    flex-flow: column wrap;
}

#header #headerCookies div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
}

#header #headerCookies select{
    border-radius: 6px;
    padding: 5px;
    outline: none;
    border: none;
    font-family: "Josefin Sans", sans-serif;
    box-shadow: 0 0 3px #7e7c7c;
}

#header #headerform{
    display: inline-flex;
    border-radius: 8px;
    border: 2px solid transparent;
    transition: 0.8s;
}

#header #headerform input{
    border: none;
    padding: 8px 0 8px 12px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    outline: none;
    display: inline;
    height: 40px;
}
#header #headerform button{
    border: none;
    background: white;
    padding: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
    height: 40px;
}

#header-container{
    position: relative;
    right: 10px;
    float: right;
    margin-left: auto;
}

#header-container a{
    font-size: 27px;
}
#header-container i{
    transition: 0.3s;
}

#header-container i:hover, #header a:hover{
    color: white;
}

#corpo{
    margin-left: 4vw;
    margin-right: 4vw;
}

#corpo h1{
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin-top: 50px;
}

#corpo div{
    margin-bottom: 5%;
}

#corpo button{
    display: flex;
    position: absolute;
    background: #F8F5FA;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}

#corpo button:hover{
    background: #c8c8c9;
}

#corpo button.slide{
    height: 40px;
    width: 40px;
    border: 0;
    border-radius: 50%;
    font-size: 20px;
}

#corpo button.slide-esquerda{
    left: 1px;
}

#corpo button.slide-direita{
    right: 5px;
}

#corpo .carrossel{
    display: flex;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 20px;
    margin-right: 20px;
    justify-content: space-evenly;
}


#corpo .carrossel a{
    margin-right: 40px;
    border-radius: 20px;
}


#corpo .carrossel img{
    border: 4px solid rgb(212, 205, 205);
    border-radius: 20px;
    box-shadow: 1px -1px 3px rgb(214, 202, 202);
    height: 284px;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
}


#footer{
    background-image: linear-gradient(#F8F5FA, #F3C3B2 40%);
    width: 100%;
    height: 500px;
    display: flex;
    padding: 10%;
    position: relative;
}

#footer .horizontal-row{
    position: absolute;
    width: 70%;
    height: 1px;
    background: grey;
}

#footer-conclusao{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-conclusao p{
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    margin: 10%;
    color: #1D1E1D;
}

#footer-redes{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-login{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

#footer-login p{
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    color: #1D1E1D;
}

#footer-login a{
    padding: 15px 80px 15px 80px;
    background: white;
    box-shadow: 0 0 3px gray;
    border-radius: 10px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #1D1E1D;
}

    @media(max-width: 566px){
    #footer #footer-login a{
        padding: 7px 50px 7px 50px;
    }
}