#perfil{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

#perfil img{
    width: 218px;
    height: 218px;
}

.perfilContainer{
    width: 320px;
    height: auto;
    font-family: "Josefin Sans", sans-serif;
    margin: 20px;
    margin-top: 0;
}

.perfilContainer span{
    display: flex;
    align-items: center;
    transition: 0.3s;

        &:hover{
            font-size: large;
        }
}

.perfilContainer span i{
    font-size: 20px;
    margin-right: 10px;
}