@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');
body {
    height: 100vh;
    }
main {
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.loved_books {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    align-items: center;
    height: 100%;
    overflow-y: auto;
}
 .carousel_section, .loved_books {
    flex: 1; /* Faz com que ambas as seções ocupem o mesmo espaço */
}
 .box_favorite {
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
    width:90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    margin: 10px 0 20px 0;
    background-color: white;
    border: none;
    border-radius: 5px;
 }
 .box_favorite img {
    object-fit: contain;
    width: 20%;
    height: 80%;
    padding: 5px;
 }
 .box_favorite h4, .box_favorite p {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Montaga',sans-serif;
 
 }
button.favorito,
button.carrinho {
    background-color: inherit;
    border: none;
    font-size: 30px;
}
        .box_carousels {
            display: flex;
            flex-direction: column;
            width: 50%;
            height: 100%;
            margin-right: 50px;
            overflow: hidden;
        }
        .box_carousel {
            border-radius: 5px;
            height: 50%;
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center; /* Centraliza verticalmente os itens e as setas */
            box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.2);
            background-color: white;
            position: relative; /* Necessário para as setas posicionadas absolutamente */
            overflow: hidden;
        }

        .carousel_track {
            display: flex;
            flex-direction: row;
            transition: transform 0.5s ease;

        }

.livro-info {
    flex: 0 0 270px; /* Largura fixa para cada item */
    display: flex;
    margin-left: 40px;
    margin-right: -50px;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    font-family: 'Montaga', sans-serif;
}

.livro-info img {
    width: 70%;
    object-fit: contain;
    height: 100%;

}
.material-symbols-outlined {
    cursor: pointer;
    font-size: 30px;
    color: gray;
    position: absolute; /* Permite posicionar as setas dentro do box_carousel */
    z-index: 1;
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-50%); /* Ajuste para o centro vertical */
}
.material-symbols-outlined #seta_direita {
    z-index: 1;
    position: absolute;
}

.material-symbols-outlined:first-child { /* Seta esquerda */
    left: 10px; /* Posição da seta esquerda */
}

.material-symbols-outlined:last-child { /* Seta direita */
    right: -320px; /* Posição da seta direita */
}
.btn{   
    background: transparent;
    border: none;
    margin-left: 30%;
    font-size: 40px;
    outline: none;
    color: grey;
}

.btn i:hover{
    cursor: pointer;
}

/*






*/
@media screen and (max-width: 768px) {
    main {
        flex-direction: column; /* Muda a direção do flex para coluna */
        align-items: center; /* Centraliza os itens no centro */
        height: 100vh;
    }

    .loved_books {
        display: flex;
        order: 1;
        flex-direction: column;
        height: 50%;
        min-width: 100%;
    }
     .carousel_section, .loved_books {
        flex: 1; /* Faz com que ambas as seções ocupem o mesmo espaço */
    }
     .box_favorite {
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
        width:90%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height:100%;
        background-color: white;
        border: none;
        border-radius: 5px;
        text-align: center;
     }
     .box_favorite img {
        object-fit: contain;
        width: 20%;
        height: 80%;
        padding: 5px;
     }
     .box_favorite h4, .box_favorite p {
        font-size: 18px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-family: 'Montaga',sans-serif;
     
     }
    button.favorito,
    button.carrinho {
        background-color: inherit;
        border: none;
        font-size: 30px;
    }
    .box_carousel {
        border-radius: 5px;
        order: 2;
        display: flex;
        height: 40%;
        width: 90%; 
        padding-left: 10px;
        margin-top: 5%;
    }
    .livro-info {
        max-width: 4%;
        margin-right:0px 0px 0px 0px;
        padding: 0px;
    }
    .livro-info img {
    }
}

