#livro {
    width: 50%;
    display: flex;
    flex-flow: row wrap;
}

#livro #galeria {
    display: flex;
    flex-flow: column wrap;
    width: 15%;
    overflow: hidden;
}

#livro #galeria img {
    width: 80px;
    height: 80px;
    border: 1px solid white;
    margin: 1px;
}

#livro #imagem {
    display: flex;
}

#livro #imagem img{
    width: 350px;
    height: auto;
}
